.project{
    background-color: rgb(5, 185, 152);
    height: 300px;
    width: 250px;
}

.project p{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.prof{
    height:50%;
    width: 90%;
    background-color: rgb(52, 221, 154);
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10;
}