.navBar{
  background-color: rgb(196, 255, 216);
  display: flex;
  justify-content: space-around;
  gap:10px;
  padding: 10px;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}
.navItem{
  text-decoration: none;
  color: rgb(37, 159, 240);
}
.navItem:hover{
  color: rgb(19, 15, 237);
}